/* .section{
    margin-top: 70px;
    
}

.me {
    width: 130px;
    padding-top: 10px;
    padding-left: 10px;
}

p{
    padding-left: 10px;
}

.ux{
    font-size: 1.3em;
    font-weight: 600;
    color: #8893f1;
}

.skills {
    font-size: 1.2em;
} */