#imggg {
    position: relative;
    width: 70%;
    margin-top: 30px;
    left: 15%;
    outline: 1px solid black;
}

@media only screen and (max-width: 750px) {
    #imggg {
        position: relative;
      width: 95%;
      left: 10px;
      
    }
}